<h4>Audit Report for the keyword (直飛東京)</h4>

<table class="full">
	<tbody>
		<tr>
			<th scope="col">Time</th>		
			<th scope="col">Status</th>
			<th scope="col">Keyword Group</th>
			<th scope="col">Remark</th>
		</tr>
		<tr>
			<td>2010/11/04 12:27:39</td>		
			<td>Target Accomplished</td>
			<td>Yahoo Brand Terms</td>
			<td>Rank 2</td>
		</tr>
		<tr>
			<td>2010/11/04 11:27:39</td>		
			<td>Failure</td>
			<td>Yahoo Brand Terms</td>
			<td>Max bid exceeded</td>
		</tr>	
		<tr>
			<td>2010/11/04 10:27:39</td>		
			<td>In progress</td>
			<td>Yahoo Brand Terms</td>
			<td>Now: Rank 4, Target: Rank 2</td>
		</tr>			
	</tbody>
</table>