<h4>Relative Rank Strategy for Cathay Pacific (id: 29039)</h4>


<div class="notice" id="Message">There are yet no strategies configured for this client.</div>
<table class="full">
	<tbody>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Competitive Advertisers</th>
			<th scope="col">Keyword Groups</th>
			<th scope="col">Status Report</th>
			<th scope="col">Create Date</th>
		</tr>
		<tr>
			<td><a href="/relativerank/edit">MA-RU Daylight flight <small>[edit]</small></a></td>
			<td>Air Newzealand <small>(www.airnewzealand.ru)</small></td>
			<td>
				<ul>
					<li>Yahoo+Baidu Generic Terms</li>
					<li>Google Brand Terms</li>
				</ul>
			</td>	
			<td><a href="/relativerank/status/">view</a></td>
			<td>2010/11/04 11:27:39</td>
		</tr>
		<tr>
			<td><a href="/relativerank/edit">MO-KR Special <small>[edit]</small></a></td>
			<td>Japan Airline <small>(www.jpairline.cc)</small></td>
			<td>
				<ul>
					<li>Google Seasonal Terms</li>
				</ul>
			</td>	
			<td><a href="/relativerank/status/">view</a></td>
			<td>2010/11/01 08:29:00</td>
		</tr>
	</tbody>
</table>
<a href="/relativerank/new" class="button"><span>Add New Strategy</span></a>