<h4>Status Report for Cathay Pacific (id: 29039)</h4>

<form action="" class="yform columnar" id="new_strategy" method="post">
	<div class="type-select">
		<label for="status">Status:</label>
		<select id="status" name="status">
			<option value="All">All</option>	
			<option value="Target Accomplished">Target Accomplished</option>
			<option value="In progress">In progress</option>
			<option value="Failure">Failure</option>		
		</select>
	</div>
	<div class="type-select">
		<label for="Strategies">Strategies:</label>
		<select id="Strategies" name="Strategies" onchange="">
			<option value="All">All</option>	
			<option value="MA-RU Daylight flight">MA-RU Daylight flight</option>
			<option value="MO-KR Special">MO-KR Special</option>		
		</select>
	</div>
	
	<div class="type-button">
		<input name="commit" type="submit" value="Submit" style="float:left;margin-right: 5px" />
	</div>
</form>

<table class="full">
	<tbody>
		<tr>
			<th scope="col">Status</th>
			<th scope="col">Keyword Group</th>
			<th scope="col">Keyword</th>
			<th scope="col">Remark</th>
			<th scope="col">Last Check Time</th>
			<th scope="col">Audit</th>
		</tr>
		<tr>
			<td>Target Accomplished</td>
			<td>Yahoo Brand Terms</td>
			<td>直飛東京</td>
			<td>Rank 2</td>
			<td>2010/11/04 11:27:39</td>
			<td><a href="/relativerank/audit"><small>[audit]</small></a></td>			
		</tr>
		<tr>
			<td>Failure</td>
			<td>Yahoo Brand Terms</td>
			<td>直飛東京</td>
			<td>Max bid exceeded</td>
			<td>2010/11/04 11:27:39</td>
			<td><a href="/relativerank/audit"><small>[audit]</small></a></td>		
		</tr>	
		<tr>
			<td>In progress</td>
			<td>Yahoo Brand Terms</td>
			<td>直飛東京</td>
			<td>Now: Rank 4, Target: Rank 2</td>
			<td>2010/11/04 11:27:39</td>
			<td><a href="/relativerank/audit"><small>[audit]</small></a></td>
		</tr>			
	</tbody>
</table>